header {
  position: fixed;
  background: black;
  color: white;
  padding: 1.5em 10vw 0 10vw;
  width: 100vw;
  top: 0;
  z-index: 100;
}

.headerDarkMode {
  border-bottom: 1px solid #4c4c4c;
  -webkit-box-shadow: 0px 3px 5px -3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 3px 5px -3px rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 5px -3px rgba(255, 255, 255, 1);
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav {
  margin-top: 1.5625em;
  border-top: #4c4c4c 1px solid;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: max-height 0.75s ease-in-out;
}

nav li {
  height: 4.375em;
  cursor: pointer;
}

nav li a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .activePage {
  border: 4px solid var(--main-color);
}

nav .nonActivePage:hover {
  border: 2px solid var(--main-color);
}

nav .activePage,
nav .nonActivePage:hover {
  border-left: none;
  border-right: none;
}

.rightRow {
  gap: 2em;
}

.rightRow div {
  height: 1.5625em;
  width: 1px;
  background-color: white;
}

.rightRow button:last-of-type {
  margin: 0 0 0 1em;
}

.searchBar {
  padding: 0.9375em 1.25em;
  transition: all 0.25s ease-in;
}

.searchBar:focus {
  outline: 3px solid #ddf2ff;
  transform: scaleX(107%);
}

.resMenu {
  display: none;
  font-size: 2.25rem;
  margin: 0.325em 0.5em 0.325em 0;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 1.5em 5vw 0 5vw;
  }

  .rightRow {
    padding-right: 2em;
    gap: 1.5em;
  }

  .searchBar:focus {
    transform: scaleX(102%);
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding-right: 1.25em;
  }

  nav {
    position: relative;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    background-color: black;
    max-height: 0;
    visibility: hidden;
  }

  .rightRow {
    padding-right: 1.25em;
  }

  .menuOpen {
    max-height: 100em;
    opacity: 100;
    visibility: initial;
  }

  .resMenu {
    display: initial;
  }
}
