.leagueHeader {
  justify-content: center;
}

.separationLine {
  background: var(--third-color);
  height: 1px;
  width: 2.5em;
  place-self: center;
}

.fixtureInfoWrapper {
  border: 1px solid var(--third-color);
}
