.teamInfo {
  margin: 0.75em 0;
  width: 100%;
  justify-content: space-between;
}

.teamInfo > div {
  display: flex;
  align-items: center;
}

.teamInfo img {
  width: 1.5em;
  height: fit-content;
}

.goalScored {
  margin-left: 1em;
}

.goalScored span {
  font-size: 0.825rem;
}

.halfTime {
  width: 1.5em;
  margin-left: 1em;
}

.tagWinner {
  padding: 0.325em;
  color: var(--text-color-un);
}
