.liveResultsBar {
  position: fixed;
  right: 0;
  top: 10.5em;
  width: 15em;
  z-index: 3;
  background-color: var(--white-color);
  border: 1px solid var(--third-color);
  border-top: 0;
  border-right: 0;
  height: 15em;
  animation: handleDiv 0.35s ease-in;
}

.loadingFailed {
  width: 100%;
  padding: 0 1em 0.75em 1em;
}

.loadingFailed h3 {
  font-size: 0.825rem;
  font-weight: 500;
}

@keyframes handleDiv {
  from {
    min-height: 0;
    max-height: 0;
  }
  to {
    min-height: fit-content;
    max-height: 15em;
  }
}

.liveResultsBar p {
  font-size: 0.75em;
}

.liveResultsBar > div:first-child {
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
}

.liveDiv {
  margin-right: 0.625em;
  position: relative;
  width: 8px;
  height: 8px;
  background-color: var(--error-color);
  border-radius: 50%;
  animation: opacityHandler 1.5s ease-in-out infinite;
}

.liveResultsBar h4 {
  color: var(--text-color);
}

.liveDiv::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  border: 1px solid var(--error-color);
  border-radius: 50%;
  transform: translate(-3.5px, -3.5px);
}

@keyframes opacityHandler {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.closeLiveScore {
  color: var(--error-color);
  font-weight: 500;
  cursor: pointer;
  padding: 0.25em;
  background-color: var(--color-white);
  margin-right: 0.5em;
}

.closeLiveScore:hover {
  font-weight: 700;
}

.liveScoreClosed {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 10.5em;
}

.liveScoreClosed button {
  width: 100%;
  width: 2em;
  color: var(--text-color);
  background-color: var(--color-white);
}

.liveScoreClosed button:hover {
  background-color: var(--box-color);
}

div::-webkit-scrollbar {
  width: 0.75em;
}

.liveFixturesWrapper {
  padding: 0 1em;
  height: 70%;
  overflow-y: auto;
}
